<div class='col-md-4 info-font'>
  <h4>{{format_date createdAt}}</h4>
  <table class="info-font">
    <tr><td colspan='2'>Description: {{description}}</td></tr>
    <tr><td>Water Amount</td><td>{{water_amt}} oz.</td></tr>
    <tr><td>Temperature</td><td>{{temperature}}°</td></tr>
    <tr><td>Humidity</td><td>{{humidity}}%</td></tr>
    <tr><td>Height</td><td>{{height}}in</td></tr>
    <tr><td>Leaf Growth</td><td>{{leaf_growth}}</td></tr>
    <tr><td>Weather</td><td>{{weather}}</td></tr>
  </table>
</div>