<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Grow Box
      {{/if}}
    </title>
    <link rel='stylesheet' type='text/css' href='/css/jass.css' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
  </head>

  <body>

    <nav>
      <a href='/'>Home</a>
      <a href='/progress'>Progress</a>
      {{#if loggedIn}}
        <a id='logout' href='#logout'>Logout</a>
        <a id='user' href='/garden'>{{userGarden}}</a>
      {{else}}
        <a id='login' href='/login'>Login</a>
      {{/if}}
    </nav>
    <header>
      <h3>
      {{#if title}}
        {{title}}
        {{else}}
        Grow Box
      {{/if}}
      </h3>
    </header>
    <main>
      <div class='container'>
        {{{body}}}
      </div>
      {{#if loggedIn}}
      <aside class="plantInfo">
        <h3>About Your Plant</h3>
        <div>
          Plant Info if logged in/ else plant of the day?
        </div>
      </aside>
      {{/if}}
      {{#if loggedIn}}
        <script src='/js/logout.js'></script>
      {{/if}}
    </main>
  </body>
</html>