<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Grow Box
      {{/if}}
    </title>
    <link rel='stylesheet' type='text/css' href='/css/jass.css' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
  </head>

  <body>
    <nav>
      <a href='/'>Home</a>

      {{#if loggedIn}}
        <a href='/progress'>Progress</a>
        <a href='/garden'>Garden</a>
        <a id='logout' href='#logout'>Logout</a>
        <a id='user' href='/garden'>{{username}}</a>
      {{else}}
        <a id='login' href='/login'>Login</a>
      {{/if}}
    </nav>
    <header>
      <h3>
        {{#if title}}
          {{title}}
        {{else}}
          Grow Box
        {{/if}}
      </h3>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
  {{#if loggedIn}}
    <script src='/js/logout.js'></script>
  {{/if}}
</html>