<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Grow Box
      {{/if}}
    </title>
    <link rel='stylesheet' type='text/css' href='/css/jass.css' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Lilita+One&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <a href='/' class="plant-font">Home</a>
      {{#if loggedIn}}
        <a href='/progress' class="plant-font">Progress</a>
        <a href='/garden' class="plant-font">Garden</a>
        <a id='logout' href='#logout' class="plant-font">Logout</a>
        <a id='user' href='/garden' class="plant-font">{{username}}</a>
      {{else}}
        <a id='login' href='/login' class="plant-font">Login</a>
      {{/if}}
    </nav>
    <header>
      <h3 class="plant-font home">
        {{#if title}}
          {{title}}
        {{else}}
          Grow Box
        {{/if}}
      </h3>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
  {{#if loggedIn}}
    <script src='/js/logout.js'></script>
  {{/if}}
</html>